@*@model WebApiService.Models.SiteModel*@


@*<div class="container_full blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 style="text-align:center; color:#fff; font-weight:bold">Bizi arayın ilan tanıtımınızı yapalım hedef müşteri kitlenize daha çabuk ulaşın</h4>
                <p style="color:#fff; font-size:22px; text-align:center">
                    <img src="~/Content/Images/iletisim-bilgileri.png" />
                </p>
                @*<ul class="list-group">
                    <li class="list-group-item list-group-item-info">Aşağıdaki iletişim kanallarından birini kullanın size en kısa sürede  ulaşalım.</li>
                    <li class="list-group-item list-group-item-info">Cep: 532 491 2000 - 535 383 3310</li>
                    <li class="list-group-item list-group-item-info">E-Mail: ekip@@torbaliburada.com</li>
                    <li class="list-group-item list-group-item-info">Ofis: 232 856 7766</li>

                </ul>*@
@*@using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group" style="margin:0 auto;">

                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-bottom:5px">
                                    @Html.EditorFor(model => model.kurumsalBasvuru.Ad, new { htmlAttributes = new { @class = "form-control pull-right", @placeholder = "Ad Soyad" } })
                                    @Html.ValidationMessageFor(model => model.kurumsalBasvuru.Ad, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-bottom:5px">
                                    @Html.EditorFor(model => model.kurumsalBasvuru.Firma, new { htmlAttributes = new { @class = "form-control", @placeholder = "Firma Adı" } })
                                    @Html.ValidationMessageFor(model => model.kurumsalBasvuru.Firma, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group" style="margin:0 auto;">

                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-bottom:5px">
                                    @Html.EditorFor(model => model.kurumsalBasvuru.CepTel, new { htmlAttributes = new { @class = "form-control pull-right", @placeholder = "Cep Telefonu" } })
                                    @Html.ValidationMessageFor(model => model.kurumsalBasvuru.CepTel, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-bottom:5px">
                                    @Html.EditorFor(model => model.kurumsalBasvuru.Mail, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-Mail Adresi" } })
                                    @Html.ValidationMessageFor(model => model.kurumsalBasvuru.Mail, "", new { @class = "text-danger" })
                                </div>
                                <div class="control-label col-md-3"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12" style="text-align:center">
                                    <input type="submit" value="Bilgileri Gönder" class="btn" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>*@

