
@{
    ViewBag.Title = "Ilanlar";
    Layout = "~/Views/Shared/_SearchMasterPage.cshtml";
}

<hr style="border:0; margin-top:30px">
<div ng-controller="WebSiteController" id="topScroll">
    <!--İlan Edit-->
    <script type="text/ng-template" id="myModalEditingIlan.html">
        <div class="modal-header" style="position:relative;">
            <div ng-click="cancel()" class="ribbon" data-toggle-selector=".menu">
                <span style="font-size:12px" aria-hidden="true">
                    Kapat

                </span>
            </div>
            @*<button type="button" ng-click="cancel()" class="close"><span aria-hidden="true">&times;</span></button>*@
            <h4 class="modal-title" id="myModalLabel">
                İlan Güncelle
            </h4>
        </div>
        <div class="modal-body">
            <!--İmg Loading-->
            <div class="row">
                <div class="col-md-12" style="text-align:center; margin-top:10px;" ng-show="ImgLoading">
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <span class="sr-only">Lütfen Bekleyiniz...</span>
                </div>
            </div>
            <!--Form Start-->
            <div class="row">
                <div class="col-md-12">

                    <form role="form" id="frmIlanupdate" name="frmIlanupdate" novalidate>

                        <!--Satıcı bilgileri-->
                        <div class="panel panel-default">
                            <div class="panel-heading">İletişim Bilgileri</div>
                            <div class="panel-body">


                                <div class="control-label col-md-12">
                                    Sahibinin Adı
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" ng-model="parameters.Sahibi" ng-value="rowilan.result.sahibi" name="Sahibi" placeholder="Sahibinin adını yazınız." required type="text">
                                </div>
                                <div class="control-label col-md-12">
                                    Sahibinin Cep Telefonu
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" ng-model="parameters.CepTelefonu" ng-value="rowilan.result.cepTelefonu" name="CepTelefonu" placeholder="Sahibinin cep telefonunu yazınız." required type="text">
                                </div>

                            </div>

                        </div>
                        <!--İlan genel bilgiler-->
                        <div class="panel panel-default">
                            <div class="panel-heading">İlan Genel Bilgiler</div>
                            <div class="panel-body">
                                <div class="control-label col-md-12">
                                    Başlık
                                </div>
                                <div class="col-md-10">
                                    <input type="hidden" ng-model="parameters.id" value="{{rowilan.result.id}}" />
                                    <input class="form-control" ng-model="parameters.Baslik" ng-value="rowilan.result.baslik" name="Baslik" placeholder="İlan Başlığı yazınız." required type="text">
                                </div>
                                <div class="col-md-2">
                                    <div ng-show="frmIlanupdate.$submitted || frmIlanupdate.Baslik.$touched ||frmIlanupdate.$dirty">
                                        <span class="error fade in" ng-show="frmIlanupdate.Baslik.$error.required">*</span>

                                    </div>
                                </div>
                                <div class="control-label col-md-12">
                                    Açıklama
                                </div>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="5" ng-model="parameters.Aciklama" name="Aciklama">
                                        {{rowilan.result.aciklama}}
                                    </textarea>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="control-label col-md-12">
                                    Fiyat
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" ng-model="parameters.Fiyat" ng-value="rowilan.result.fiyat" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" name="Fiyat" placeholder="Fiyat yazınız." required type="number">
                                    <div ng-show="frmIlanupdate.$submitted || frmIlanupdate.Fiyat.$touched ">
                                        <span class="error fade in" ng-show="!frmIlanupdate.Fiyat.$valid">
                                            Para birimini hatalı girdiniz!
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div ng-show="frmIlanupdate.$submitted || frmIlanupdate.Fiyat.$touched ||frmIlanupdate.$dirty">
                                        <span class="error fade in" ng-show="frmIlanupdate.Fiyat.$error.required">*</span>

                                    </div>
                                </div>
                                <div class="control-label col-md-12">
                                    MetreKare
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" ng-model="parameters.MetreKare" ng-value="rowilan.result.metreKare" name="Metrekare" value="{{rowilan.result.metreKare}}" type="text">

                                </div>
                                <div class="col-md-2">
                                    <div ng-show="frmIlanupdate.$submitted || frmIlanupdate.Metrekare.$touched ||frmIlanupdate.$dirty">
                                        <span class="error fade in" ng-show="frmIlanupdate.Metrekare.$error.required">*</span>

                                    </div>
                                </div>
                                <div class="control-label col-md-12">
                                    İletişim Telefonu
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" ng-model="parameters.IletisimTelefonu" ng-value="rowilan.result.iletisimTelefonu" name="IletisimTelefonu" placeholder="Iletisim Telefonu yazınız." required type="text">

                                </div>
                                <div class="col-md-2">
                                    <div ng-show="frmIlanupdate.$submitted || frmIlanupdate.IletisimTelefonu.$touched ||frmIlanupdate.$dirty">
                                        <span class="error fade in" ng-show="frmIlanupdate.IletisimTelefonu.$error.required">*</span>

                                    </div>
                                </div>
                                <div class="control-label col-md-12">
                                    Görünüm Modu
                                </div>
                                <div class="col-md-10">
                                    <div class="col-md-6">
                                        <div class="funkyradio">
                                            <div class="funkyradio-success">
                                                <input type="radio" ng-checked="(rowilan.result.private == 'Genel')" name="private" ng-model="parameters.Private" id="public" value="Genel" ng-required="!parameters.Private" />
                                                <label for="public">Genel</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="funkyradio">
                                            <div class="funkyradio-success">
                                                <input type="radio" ng-checked="(rowilan.result.private == 'Özel')" name="private" ng-model="parameters.Private" id="private" value="Özel" ng-required="!parameters.Private" />
                                                <label for="private">Özel</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                        <!--Tapu bilgileri-->
                        <div class="panel panel-default">
                            <div class="panel-heading">Tapu Bilgileri</div>
                            <div class="panel-body">
                                <div class="control-label col-md-12">
                                    Pafta No
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" ng-model="parameters.Pafta" ng-value="rowilan.result.pafta" name="Pafta" placeholder="Pafta no yazınız." required type="text">
                                </div>
                                <div class="control-label col-md-12">
                                    Parsel No
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" ng-model="parameters.Parsel" ng-value="rowilan.result.parsel" name="Parsel" placeholder="Parsel yazınız." required type="text">
                                </div>
                                <div class="control-label col-md-12">
                                    Ada No
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" ng-model="parameters.Ada" ng-value="rowilan.result.ada" name="Ada" placeholder="Adı yazınız." required type="text">
                                </div>
                            </div>
                        </div>
                        <!--Takas durumu-->
                        <div class="panel panel-default">
                            <div class="panel-heading">Takas Durumu.</div>
                            <div class="panel-body">
                                <div class="control-label col-md-12">
                                    Takaslı mı?
                                </div>
                                <div class="col-md-10">
                                    <div class="col-md-6">
                                        <div class="funkyradio">
                                            <div class="funkyradio-success">
                                                <input id="evet" type="radio" name="TakasliID" ng-model="parameters.TakasliID" value="1" ng-checked="(parameters.TakasliID == 'Evet')" />
                                                <label for="evet">Evet</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="funkyradio">
                                            <div class="funkyradio-success">
                                                <input id="hayir" type="radio" name="TakasliID" ng-model="parameters.TakasliID" value="2" ng-checked="(parameters.TakasliID == 'Hayır')" />
                                                <label for="hayir">Hayır</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-label col-md-12">
                                    Takas Türü
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control" ng-model="parameters.TakasTuru" ng-value="rowilan.result.takasTuru" name="TakasTuru" placeholder="Takas türünü yazınız." type="text">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12" ng-show="UpdateOk">
                            <div class="alert alert-success">
                                <strong>Success!</strong> Kayıt Başarıyla Günçellendi..
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button type="button" ng-click="emlakIlanUpdate()" class="btn btn-primary">İlanı Kaydet</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Kapat</button>
        </div>
    </script>
    <!--Image Edit-->
    <script type="text/ng-template" id="myModalImages.html">
        <div class="modal-header" style="position:relative;">
            <div ng-click="cancel()" class="ribbon" data-toggle-selector=".menu">
                <span style="font-size:12px" aria-hidden="true">
                    Kapat
                </span>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div ng-repeat="imgs in rowsimg.result">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="hovereffect">
                            <img src="/UserImage/{{imgs.resim}}" class="img-rounded thumbnail col-md-3" style="width:100%; border:1px solid #ccc; padding:1px">
                            <div class="overlay">
                                <p>
                                    <a href="#" ng-click="DeleteImg(imgs.id)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="text-align:center; margin-top:10px;" ng-show="ImgLoading">
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    <span class="sr-only">Lütfen Bekleyiniz...</span>
                </div>
            </div>
            <div class="row">
                <form role="form" id="frmrsm" name="frmrsm" novalidate>
                    <div class="col-md-12">
                        <h4>Resim Yükle</h4>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Resim Seçiniz...<input type="file" multiple my-directory="getFiles(file)" ng-disabled="uploading" style="display: none;" />
                                </span>
                            </label>
                            <input type="text" ng-model="countFiles" class="form-control" readonly>
                        </div>
                        <span class="help-block">
                            Lütfen yüklemek istediğiniz resimleri seçiniz...
                        </span>

                    </div>
                    <div class="col-md-12" ng-show="countFiles!==''">
                        <h4>Yüklenecek Resimler</h4>
                        <div class="list-group">
                            <div ng-repeat="file in data ">
                                <a class="list-group-item list-group-item-success" href="#"><span class="alert alert-success pull-right" style="padding:0">{{file.FileLength}} Byte.</span>{{file.FileName}} </a>
                            </div>
                        </div>
                        <div ng-repeat="imgs in imagesrc">
                            <div class="col-md-3">
                                <img ng-src="{{imgs}}" class="img-rounded  class=" thumbnail"" style="width:100%; border:1px solid #ccc; padding:1px">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-info-full" ng-click="uploadFiles()" ng-disabled="uploading || countFiles===''">Resimleri Yükle</button>
                        </div>
                        <div class="col-md-12" style="text-align:center; margin-top:10px;" ng-show="uploading">
                            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                            <span class="sr-only">Lütfen Bekleyiniz...</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Kapat</button>
        </div>
    </script>
    <!--İlan Detay-->
    <script type="text/ng-template" id="myModalContent.html">

        <div class="modal-header" style="position:relative;">
            <div ng-click="cancel()" class="ribbon" data-toggle-selector=".menu">
                <span style="font-size:12px" aria-hidden="true">
                    Kapat

                </span>
            </div>
            @*<button type="button" ng-click="cancel()" class="close"><span aria-hidden="true">&times;</span></button>*@
            <h4 class="modal-title" id="myModalLabel">
                {{rows.ilan.baslik}}
            </h4>
        </div>
        <div class="modal-body">
            <!--Loading gif-->
            <div class="row" style="text-align:center" ng-show="ImgLoading">
                <img src="/Content/Images/loading.gif" /> <br />Lütfen bekleyiniz...
            </div>
            <!--Slider-->
            <div class="row" ng-hide="ImgLoading">
                <div class="col-md-12">
                    <div class="carousel slide da-carousel" id="myCarousel" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <benim-directivim ng-class="{active:!$index}" ng-repeat="img in rows.ilanResimler" data="img">
                            </benim-directivim>

                            <ol class="carousel-indicators">
                                <li ng-repeat="img in rows.ilanResimler" data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{active:!$index}">
                                </li>
                            </ol>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" ng-non-bindable>
                            <span class="glyphicon glyphicon-chevron-left color-widht" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" ng-non-bindable>
                            <span class="glyphicon glyphicon-chevron-right color-widht" aria-hidden="true" ng-non-bindable></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div ng-hide="ImgLoading" class="row" style="margin-top:30px;">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <table class="table table-striped table-responsive">
                        <tbody>
                            <tr>
                                <td><b>İlan Türü</b></td>
                                <td class="text-right">{{rows.ilanKategoriler[0].kategoriAd}}</td>
                            </tr>
                            <tr>
                                <td><b>İlan şekli</b></td>
                                <td class="text-right">{{rows.ilanKategoriler[1].kategoriAd}}</td>
                            </tr>
                            <tr>
                                <td><b>İlçe</b></td>
                                <td class="text-right">{{rows.ilan.location[0].locationName}}</td>
                            </tr>
                            <tr>
                                <td><b>Semt</b></td>
                                <td class="text-right">{{rows.ilan.location[1].locationName}}</td>
                            </tr>
                            <tr>
                                <td><b>Mahalle</b></td>
                                <td class="text-right">{{rows.ilan.location[2].locationName}}</td>
                            </tr>
                            <tr>
                                <td><b>Fiyat</b></td>
                                <td class="text-right">{{rows.ilan.fiyat |currency:""}} TL</td>
                            </tr>
                            <tr>
                                <td><b>Metrekare</b></td>
                                <td class="text-right">{{rows.ilan.metreKare}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <table class="table table-striped table-responsive">
                        <tbody>
                            <tr>
                                <td><b>İlan Kimden</b></td>
                                <td class="text-right">{{rows.ilan.ilanKimden}}</td>
                            </tr>
                            <tr>
                                <td><b>Telefon</b></td>
                                <td class="text-right">{{rows.ilan.iletisimTelefonu}}</td>
                            </tr>
                            <tr>
                                <td><b>Takaslı</b></td>
                                <td class="text-right">{{rows.ilan.takasli}} {{rows.ilan.takasTuru}} </td>
                            </tr>

                            <tr>
                                <td ng-show="rows.bulunduguKatID"><b>Bulunduğu Kat</b></td>
                                <td class="text-right" ng-show="rows.bulunduguKatID">
                                    {{rows.bulunduguKatID}}
                                </td>
                            </tr>
                            <tr>
                                <td ng-show="rows.bulunduguKatID"><b>Isıtma</b></td>
                                <td ng-show="rows.bulunduguKatID" class="text-right">{{rows.isitmaID}}</td>
                            </tr>
                            <tr>
                                <td ng-show="rows.bulunduguKatID"><b>Oda Sayısı</b></td>
                                <td ng-show="rows.bulunduguKatID" class="text-right">{{rows.odaSayisiID}}</td>
                            </tr>
                            <tr>
                                <td ng-show="rows.emlakKullanimAmaci"><b>Kullanım Amacı</b></td>
                                <td ng-show="rows.emlakKullanimAmaci" class="text-right">{{rows.emlakKullanimAmaci}}</td>
                            </tr>
                            <tr>
                                <td ng-show="rows.emlakDurumu"><b>Arsa Imar Durumu</b></td>
                                <td ng-show="rows.emlakDurumu" class="text-right">{{rows.emlakDurumu}}</td>
                            </tr>
                            <tr>
                                <td ng-show="rows.emlakDurumu">Arsa Tapu Durumu</td>
                                <td ng-show="rows.emlakDurumu" class="text-right">{{rows.ilanImarTapuDurumu}}</td>
                            </tr>
                            <tr>
                                <td><b>Ekleyen</b></td>
                                <td class="text-right">{{rows.ilan.userName}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="jumbotron">

                        <p class="black">{{rows.ilan.aciklama}}</p>

                    </div>
                </div>
                <div class="col-md-12">

                </div>
            </div>
            <div ng-hide="ImgLoading" class="row" style="margin-top:10px;">
                <div class="col-md-6" ng-show="rows.ilanIcOzellikler.length!==0">
                    <ul class="list-group">
                        <li class="list-group-item" style="background-color:#ddd; padding:0;">
                            <h5 style="font-weight:bold; padding-left:5px">İlan İç Özellikler</h5>
                        </li>
                        <li ng-repeat="item in rows.ilanIcOzellikler " class="list-group-item">
                            {{item.icOzellikler}}
                        </li>

                    </ul>
                </div>
                <div class="col-md-6" ng-show="rows.ilanDisOzellikler.length!==0">
                    <ul class="list-group">
                        <li class="list-group-item" style="background-color:#ddd; padding:0">
                            <h5 style="font-weight:bold; padding-left:5px">İlan Dış Özellikler</h5>
                        </li>
                        <li ng-repeat="item in rows.ilanDisOzellikler " class="list-group-item">
                            {{item.disOzellikler}}
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @*<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>*@
            <button class="btn btn-warning" type="button" ng-click="cancel()">Kapat</button>
        </div>
    </script>
    <!--Contanier Start-->
    <div class="container_full">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!--begin tabs going in wide content -->
                    <div class="tabbable ">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab"> <i class="fa fa-book fa-fw" aria-hidden="true"></i> Detaylı İlan Ara </a></li>
                            @*  <li class=""><a href="#tab2" data-toggle="tab">Emlak</a></li>
                                 <li class=""><a href="#tab3" data-toggle="tab">Arsa</a></li>
                                 <li class=""><a href="#tab4" data-toggle="tab">İşyeri</a></li>
                                <li class=""><a href="#tab5" data-toggle="tab">Section 5</a></li>
                                 <li class=""><a href="#tab6" data-toggle="tab">Section 6</a></li>
                                 <li class=""><a href="#tab7" data-toggle="tab">Section 7</a></li>
                                 <li class=""><a href="#tab8" data-toggle="tab">Section 8</a></li>*@
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">

                                @Html.Action("KategorilerDropDownMenu")
                                @Html.Action("SatilikKiralikDropDownMenu")
                                @Html.Action("LocationDropDownMenu")
                                @*@Html.Action("ArsaImarDurumuDropDownMenu")
                                    @Html.Action("ArsaTapuDurumuDropDownMenu")*@
                                @*@Html.Action("KonutTurDropDownMenu")
                                    @Html.Action("IsyeriTuruDropDownMenu")*@
                                @*@Html.Action("KategoriCheckBox")
                                    @Html.Action("SatilikKiralikCheckBox")
                                    @Html.Action("LocationCheckBox")*@
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <div class="btn-group" role="group">
                                        <button type="button" id="refresh" class="btn btn-default" ng-click="reSerach()">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                            Formu Yenile
                                        </button>
                                    </div>

                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default js-scroll-by" ng-click="emlakIlanSerach()">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                                            Ara
                                        </button>
                                        @*<button type="button" style="color:#fff;" class="btn btn-danger" ng-click="emlakIlanSerachKategori(2)">Konut İlanları</button>*@
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--IsLoadingKat Ilanlar -->
    <div class="container_full" ng-show="IsLoadingKat">
        <div class="container body-content">
            <div class="col-md-12" style="text-align:center; margin-top:10px;">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                <span class="sr-only">Lütfen Bekleyiniz...</span>
            </div>

        </div>
    </div>
    <!--İlanlar Ana Sayfa-->
    <div class="container_full">
        <div class="container body-content">
            <!--Home Başlık-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h3 style="text-align:center">En Son Eklenen İlanlarımız</h3>
                    <p style="text-align:center">Bu alanda ilanlarımız karışık olarak listelenmektedir.</p>
                </div>
            </div>

            <!--İlanlar-->
            <div id="IsSearch" class="row" infinite-scroll='NextPage()' infinite-scroll-disabled='IsLoading' infinite-scroll-distance='1'>
                <!--İlan Detay Start-->
                <div class="col-md-6 row-6-bottom" ng-repeat="emp in Ilanlar" ng-cloak>
                    <div class="col-item" style="margin-bottom:20px">
                        <div class="info">
                            <!--İlan Img-->
                            <div class="separator photo">
                                <a ng-click="open(emp.id)" href="#">
                                    <img class="b-lazy b-loaded"
                                         src="/Userimage/{{emp.resim}}"
                                         alt="{{emp.baslik}}" animate-visible="true" animate-speed="0.5s" />
                                </a>
                                @*<img class="img-rounded img-radius" lazy-src="/Userimage/{{emp.resim}}" animate-visible="true" animate-speed="0.5s" alt="" />*@
                            </div>
                            <!--Ilan Baslik-->
                            <div class="separator clear-left">
                                <div class="price col-xs-12 col-sm-12 col-md-12 hidden-md hidden-lg hidden-sm">
                                    <a ng-click="open(emp.id)" href="#" class="black">
                                        <h5 class="black">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; {{emp.baslik}}
                                        </h5>
                                    </a>

                                </div>
                                <div class="price col-xs-12 col-sm-12 col-md-12 hidden-xs">
                                    <a ng-click="open(emp.id)" href="#" class="black">
                                        <h4 class="black">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; {{emp.baslik}}
                                        </h4>
                                    </a>

                                </div>
                            </div>
                            <!--Ilan Adres-->
                            <div class="separator clear-left">
                                <div class="site-margin-top-10 site-margin-bottom-10 col-xs-12 col-sm-12 col-md-12">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>  <span ng-repeat="adres in emp.location">{{adres.locationName}}/</span>
                                </div>

                            </div>
                            <!--İlan Kimden-->
                            <div class="separator clear-left">
                                <div class="site-margin-topbottom-10 site-border-left col-xs-6 col-sm-6 col-md-6">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    {{emp.ilanKimden}}
                                </div>

                                <div class="site-margin-topbottom-10 col-xs-6 col-sm-6 col-md-6">
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    <a href="tel:{{emp.iletisimTelefonu}}">{{emp.iletisimTelefonu}}</a>
                                </div>
                            </div>
                            <!--İlan Takas-->
                            <div class="separator clear-left">
                                <div class="site-margin-topbottom-10 site-border-left col-xs-6 col-sm-6 col-md-6">

                                    <i class="fa fa-random" aria-hidden="true"></i>
                                    <a ng-click="open(emp.id)" href="#" class="black">
                                        Takasli: {{emp.takasli}}
                                    </a>
                                </div>
                                <div class="site-margin-topbottom-10 col-xs-6 col-sm-6 col-md-6">
                                    Türü: {{emp.takasTuru}}
                                </div>
                            </div>
                            <!--İlan Fiyat & Detay-->
                            <div class="separator clear-left">
                                <div class="site-margin-topbottom-10 site-border-left col-xs-6 col-sm-6 col-md-6">
                                    <a ng-click="open(emp.id)" href="#" class="black">
                                        <i class="fa fa-turkish-lira"></i> {{emp.fiyat|currency:""}}
                                    </a>
                                </div>
                                <div class="site-margin-topbottom-10 site-border-left col-xs-6 col-sm-6 col-md-6">

                                    <i class="fa fa-list"></i><a ng-click="open(emp.id)" href="#" class="black">İlanı İncele</a>

                                </div>
                            </div>
                            <!--Edit-->
                            <div class="separator clear-left">
                                <div class="site-margin-top-10 site-margin-bottom-10 col-xs-6 col-sm-6 col-md-6">
                                    <i style="cursor:pointer" ng-click="EditingImages(emp.id)" ng-class="loginTrue ? 'showUserEdit':'hidden'" class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <div class="site-margin-top-10 site-margin-bottom-10 col-xs-6 col-sm-6 col-md-6">
                                    <i style="cursor:pointer" class="fa fa-pencil-square-o" ng-click="EditingIlan(emp.id)" ng-class="loginTrue ? 'showUserEdit':'hidden'" aria-hidden="true"></i>
                                </div>


                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--IsLoading Sıradagi Ilanlar -->
        <div class="row searchBg" style="text-align:center" ng-show="IsLoading">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <span class="sr-only">Lütfen Bekleyiniz...</span>
        </div>
    </div>
<!--Top Start-->
<a href="#" class="scrollToTop" style="z-index:1001">
    <i class="fa fa-chevron-up"></i>
</a>
</div>




